.product-card-container {
    padding: 5px;
    background-color: #FFFF;

    img {
        height: 250px;
        position: relative;
    }

    button {
        width: 222px;
        border: 1px solid #828282;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0);
        padding: 12px 14px;
        margin-top: 34px;

        span {
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
        }
    }

    .products-details {
        margin-bottom: 8px;
    }

    .general-sans {
        font-family: 'General Sans';
    }

    .product-title {
        font-size: 18px;
        margin-top: 24px;
    }

    .product-subtitles-17 {
        font-size: 17px;
    }

    .removeButton {
        background-color: #ededed;
    }

    .product-image-container {
        position: relative;
        cursor: pointer;

        &:hover {
            .product-image1 {
                opacity: 70%;
                filter: blur(5px) saturate(10%)
            }
            .product-image2 {
                mask-image: url(../../../assets/images/coracao.svg);
                mask-size: 25%;
                mask-repeat: no-repeat;
                mask-position: center;
                
            }
        }

        .product-image1 {
            position: relative;
        }

        .product-image2 {
            position: absolute;
        }

    }
}