<div class="product-card-container d-flex flex-column align-items-center">
    <div class="product-image-container d-flex"> 
        <img src={{product.imagePath}}>   
    </div>
        
    <span class="general-sans product-title products-details">
        <b> {{product.name}} </b> </span>
    <span class="general-sans product-subtitles-17 products-details"> {{product.description}} </span>
    <span class="general-sans product-subtitles-17 products-details"> {{product.shades}} </span>

    <button (click)="addToBag()" class="d-flex justify-content-between" [ngClass]="addedToBag ? 'removeButton' : ''">
        <span *ngIf="!addedToBag"> Add to Bag </span>
        <span *ngIf="addedToBag"> Remove from Bag </span>
        <span> ${{product.price}}</span>
    </button>

    <button (click)="loveProduct()" class="d-flex justify-content-between align-items-center" [ngClass]="loved ? 'loved' : ''">
        <span *ngIf="!loved"> I love this! </span>
        <span *ngIf="loved"> Remove love </span>
        <img *ngIf="!loved" src="../../../assets/images/coracao.svg" height="18">
    </button>
</div>