button {
    font-family: 'General Sans';
    padding: 25px 70px;
    outline: none;
    background-color: #261a13;
    border: none;
    border-radius: 2px;
    color: #FDF2EA;
    font-size: 20px;

    &:hover {
        background-color: #3a281d;
    }
}