<div class="footer-container">
    <h3> Minisque .</h3>
    <div class="footer-main-content d-flex  justify-content-between">
        <div class="footer-column">
            <span class="signup-info">
                Sign up for email updates on products, launches, <br> and events. Unsubscribe anytime
            </span>
            <div>
                <input class="email-input" placeholder="Email">
                <button> Submit </button>
            </div>
        </div>
        <div class="footer-column d-flex flex-column justify-content-between">
            <h5> About Minisque </h5>
            <a> About Us </a>
            <a> Career </a>
            <a> Company Blog </a>
        </div>

        <div class="footer-column d-flex flex-column justify-content-between">
            <h5> Help </h5>
            <a> Contact </a>
            <a> Freedom Gift Card </a>
            <a> Return & Exchanges </a>
            <a> Help & FAQ </a>
        </div>
        <div class="footer-column d-flex flex-column">
            <h4> Contact Us </h4>
            <span> 127 West 30th Street, 9th Floor <br>
                New York, NY 10001 </span>
            <!-- TODO: adicionar imagem das redes sociais -->
        </div>
    </div>
    <div class="footer-links">
        <span> Privacy Policy </span>
        <span> Terms Of Use </span>
        <span> Accessbility </span>
        <span> Cookie Setting </span>
    </div>
</div>