<div class="not-found-page-container d-flex flex-column align-items-center justify-content-center">
    <h4>Error 404</h4>
    <img style="width: 495.39px;" src="../../../assets/images/not-found.svg"> 

    <p> Oops, The page you are looking for 
        might be removed or is temporarily 
        unavailable.Try going back to the 
        previous page or see our <a> Help Center </a>
        for more information</p>
        <app-button (click)="navigateToHomePage()" [button]="'Back to Homepage'"></app-button>
</div>