<div class="home-container align-items-center justify-content-center">
    <div class="home-feature-products">
        <div class="d-flex flex-column justify-content align-items-center">
            <h3> Minisque's Featured Products </h3>
            <span class="font-pattern subtitle"> Check Out Our Best Sellers + Lates Drops </span>
        </div>
        <app-products-list [products]="products"> </app-products-list>
    </div>
    <app-find-your-shade *ngIf="checkUserAlloedToDarkLaunch"> </app-find-your-shade>
    <app-chosen-for-you *appFeatureToggle="'chosen-products'"> </app-chosen-for-you>
    <app-about> </app-about>
</div>