.navbar-container {
    width: 100%;
    background-color: #FFFF;
    padding:20px 0;
    border-top: 1px solid #e0dfdf;
    border-bottom: 1px solid #e0dfdf;
    font-family: 'General Sans';
    font-size: 18px;

    h4 {
        margin: 0 1.5rem 0 1.5rem;
    }
}