<div class="main-login-container d-flex justify-content-around align-items-center"> 
    <div class="main-login-info d-flex flex-column align-items-center"> 
        <h3 class="text-content"> The Best Duo-tone
            buildable Foundation </h3>
        <h5 class="text-content"> You're unique - your foundation should be 
            too. Create the best foundation for your 
            skin tone with Minisque. </h5>

            <input placeholder="Name">
            <input placeholder="E-mail"> 
            <button> Shop Foundation </button>
    </div>

    <div class="main-login-images"> 
        <img src="../../../assets/images/login_1.png">
        <img src="../../../assets/images/login_2.png">
    </div>
    
</div>