.my-likes-container {
    background-color: #FFFF;

    h3 {
        font-family: 'General Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 49px;
        letter-spacing: 0.01em;
        padding: 85px 0;
        margin-bottom: 45px;
    }

}