<div class="main-header-container d-flex justify-content-between">
    <img src="../../../assets/images/menu-hamburger.svg">
    <h3>Canopy .</h3>

    <div class="left-icons d-flex justify-content-between">
        <div *appFeatureToggle="'like-feature'" class="d-flex flex-column">            
            <app-status-tag class="status-tag" [notificationNumber]="0"> </app-status-tag>
            <img class="icons-with-notifications" src="../../../assets/images/heart.svg">

        </div>
        <div class="d-flex flex-column">            
            <app-status-tag class="status-tag" [notificationNumber]="(bag$ | async)?.length"> </app-status-tag>
            <img class="icons-with-notifications" src="../../../assets/images/bag.svg">
        </div>

        <img src="../../../assets/images/search.svg">
        <img src="../../../assets/images/person-icon.svg">
    </div>
</div>