.main-header-container {
    padding: 32px 70px;

    h3 {
        font-family: 'Clash Grotesk';
        font-weight: 400;
    }

    .left-icons {
        width: 210px;
        

        img {
            width: 30px;
            cursor: pointer;
        }

        .icons-with-notifications {
            margin-bottom: 20px;

        }
    }
}